<footer class="primary-footer">
  

  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h3 class="decorated-heading">
          <span>About</span>
        </h3>
        <ul class="footer-nav">
          <li><a href="javascript:void(0);">About Us</a></li>
          <li><a href="javascript:void(0);">Gifts</a></li>
          <li><a href="javascript:void(0);">FQA</a></li>
          <li><a href="javascript:void(0);">Blogs</a></li>
          <li><a href="javascript:void(0);">Site Map</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h3 class="decorated-heading">
          <span>Get In Touch</span>
        </h3>
        <ul class="footer-nav">
          <li><a href="javascript:void(0);">Support</a></li>
          <li><a href="javascript:void(0);">Orders</a></li>
          <li><a href="javascript:void(0);">Return Policy</a></li>
          <li><a href="javascript:void(0);">Terms & Conditions</a></li>
          <li><a href="javascript:void(0);">Corporate Orders</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h3 class="decorated-heading">
          <span>ZiggleTech</span>
        </h3>
        <ul class="social">
          <li>
            <a href="javascript:void(0);" class="fa fa-facebook"></a>
          </li>
          <li>
            <a href="javascript:void(0);" class="fa fa-twitter"></a>
          </li>
          <li>
            <a href="javascript:void(0);" class="fa fa-instagram"></a>
          </li>
          <li>
            <a href="javascript:void(0);" class="fa fa-youtube-square"></a>
          </li>
        </ul>
        <h3>Call us <a href="tel:(973) 589-8900">(347)708-1485</a></h3>
      </div>
      <div class="col-sm-5">
          <h3 class="decorated-heading">
            <span>Newsletter</span>
          </h3>
          <p>Subscribe to the ZiggleTech mailing list to receive updates on new arrivals, offers and other discount information.</p>
          <form>
            <div class="row">
              <div class="col-sm-10 form-group">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
              <div class="col-sm-5 form-group">
                <button class="btn btn-block btn-subscribe">
                  SUBSCRIBE
                </button>
              </div>
            </div>
          </form>
      </div>
      
    </div>
  </div>



</footer>
